@model ProductModel
@{
    ViewData["Title"] = "Edit Product";
}


<h1 class="fade-in form-title">Edit Product</h1>
<hr class="fade-in" />
 <form asp-controller="Admin" asp-action="EditProduct" method="post">
<div class="row fade-in">
    <div class="col-md-8">


       
            <input type="hidden" name="Id" value="@Model.Id"/>
            <div class="form-group">
                <label asp-for="Name">Product Name</label>
                <input asp-for="Name" value="@Model.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl">Image URL</label>
    using Microsoft.EntityFrameworkCore.Metadata.Internal;
                <input asp-for="ImageUrl" value="@Model.ImageUrl" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea id="editor" asp-for="Description" class="form-control"> @Model.Description </textarea>
            </div>
            <div class="form-group">
                <label asp-for="Price">Price</label>
                <input asp-for="Price" value="@Model.Price" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save Product</button>
            </div>
        

    
</div>
<div class="col-md-4">
    @foreach(var item in (List<Category>)ViewBag.Categories){
        <div class="custom-control custom-checkbox">
  <input type="checkbox" 
  name="categoryIds"
  value="@item.Id"
  class="custom-control-input" 
  id="category@(item.Id)" 
  @(Model.SelectedCategories.Any(i=>i.Id==item.Id)?"checked":"")>
  <label class="custom-control-label" for="category@(item.Id)">@item.Name</label>
</div>

        }
</div>
</div>
</form>
