@model ProductModel
@{
    ViewData["Title"] = "Edit Product";
}


<h1 class="fade-in form-title">Edit Product</h1>
<hr class="fade-in" />

<div class="row fade-in">
    <div class="col-md-8">

        <form asp-controller="Admin" asp-action="Edit" method="post">
            <input type="hidden" name="Id" value="@Model.Id"/>
            <div class="form-group">
                <label asp-for="Name">Product Name</label>
                <input asp-for="Name" value="@Model.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl">Image URL</label>
                <input asp-for="ImageUrl" value="@Model.ImageUrl" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea id="editor" asp-for="Description" class="form-control"> @Model.Description </textarea>
            </div>
            <div class="form-group">
                <label asp-for="Price">Price</label>
                <input asp-for="Price" value="@Model.Price" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save Product</button>
            </div>
        </form>

    </div>
</div>
